<body>
<form role ="form">
    <form id='myform' method='POST' action='#'>
        <input id="plus" type='button' value='-' class='qtyminus' field='quantity' />
        <input type='text' name='quantity' value='20' class='qty' />
        <input id="minus" type='button' value='+' class='qtyplus' field='quantity' />
    </form>
</form>

<div class='small'>magical counter</div>
<div class='wrapper'>
    <div id="a" />
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">-->

<div class="container">

    <section class="">

    </section>

    <!-- Store Button -->
    <section>

    </section>
</div>




